@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var context = Assetify.Service.UserContextService.GetUserContext(HttpContextAccessor.HttpContext);
}
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Head", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="title">@ViewData["Title"] - Assetify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css//site.css" />
    <link rel="stylesheet" href="/css/asset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>
    <header>
        <div class="header">
            <nav class="navbar navbar-light bg-light navbar-expand-sm">
                <div class="video-container">
                    <video autoplay loop muted id="video-clouds">
                        <source src="~/images/clouds.mp4" type="video/mp4">
                    </video>
                </div>
                <a class="navbar-brand" href="#">
                    Assetify
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-8" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbar-list-8">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="Index">Assets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @{
                            if (context.isAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Manage users</a>
                                </li>
                            }
                        }
                    </ul>

                    <div class="right-side d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/assets/profile-img.jpg" width="30" height="25" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @{
                                        if (context.sessionID == null && !context.isAdmin)
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Login">Log In</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Create">New to this site?</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="EditMyProfile">Edit Profile</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="Logout">Log Out</a>
                                        }
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Assetify - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
