@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 100px">Welcome</h1>
    <p style="font-size: 20px">
        Welcome to Assetify, here you will be part of the best realestate community out there ;)
        <br />
        You can add your own assets, or just enjoy the assets we have to offer!
        <div class="video-container-home">
            <video autoplay loop muted id="video-clouds">
                <source src="~/images/clouds.mp4" type="video/mp4">
            </video>
        </div>
    </p>
</div>

