/* Create button 
-------------------------------------------------- */
.create-btn a {
    color: #fff;
}
/* Search modifications 
-------------------------------------------------- */
.active-cyan input.form-control[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

/* Card modifications 
-------------------------------------------------- */
.card {
    box-shadow: 3px 3px 7px #777;
    border-radius: 22px;
    transition: 0.8s;
    width: 350px;
    height: 164px;
}