@model Assetify.Models.User

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-10">
        <h2 class="register-title">Ready to locate your dream home ?</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <a asp-action="Login">Already a member?</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="FirstName"><b>First Name</b></label>
                    <input type="text" placeholder="Enter First Name" asp-for="FirstName" required class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="LastName"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name" asp-for="LastName" required class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="Email"></label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="Password"></label>
                    <input type="Password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="ProfileImgPath" class="form-control-label">Profile Image</label>
                    <input type="file" name="file" id="file" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <button type="submit" class="btn btn-success btn-login">Register</button>
                </div>
            </div>
            @*TODO: Should only display for admin*@
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <a asp-controller="Users" asp-action="Index">
                        <button type="button" class="btn btn-outline-secondary btn-login">Back To List</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
