@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var context = Assetify.Service.UserContextService.GetUserContext(HttpContextAccessor.HttpContext);
}
@model Assetify.Models.User

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-10">
        <h2 class="register-title">Edit Profile</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="FirstName"><b>First Name</b></label>
                    <input type="text" placeholder="Enter First Name" asp-for="FirstName" required class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="LastName"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name" asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="Email"></label>
                    <input type="email" placeholder="Enter Email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label class="form-control-label" asp-for="Phone"></label>
                    <input asp-for="Phone" placeholder="Enter Phone number" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="ProfileImgPath" class="form-control-label">Profile Image</label>
                    <input type="file" name="file" id="file" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-sm-12">
                    <button type="submit" class="btn btn-success btn-login">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

