@{
    ViewData["Title"] = "Statistics Page";
}

@section Scripts {
    <script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
}

<div class="text-center" class="">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about statistics!!!!!!! <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div >

</div>